lazygit
QtProject.conf
obs-studio
github-copilot
mpv
mimeapps.list
pulse
glib-2.0
Code
libreoffice
YouTube Music
libvirt
htop
pavucontrol.ini
heroic
qimgv
Jackbox Games
gh
xclicker.conf
Mine*
dconf
calcurse
JetBrains
assets
chromium
Code*
gtk*
nwg-*
autostart
qt6ct/qt6ct.conf
pcmanfm-qt/default/settings.conf
pcmanfm-qt/default/recent-files.conf
pavucontrol-qt/pavucontrol-qt.conf
Kvantum/kvantum.kvconfig
user-dirs.dirs
flameshot
Kvantum
libfm
qt*
xfc*
kde*
trash*
Thunar
catfish
.vui
Ferdium
font*
GIMP
Google
inkscape
nautilus
systemd
v-*
xarchiver
krita*
user-*
ark*
session
pcmanfm
k*
dolphin*
filetypesrc
fish/fish_plugins
fish/completions
fish/conf.d
fish/functions
fish/fish_variables
fish/fish_plugins
vlc
xsettingsd
KDE
btop
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
Trolltech.conf
xdg-desktop-portal-kderc
baloofilerc
xdg-terminals.list
niri-xdg-terminals.list
Softdeluxe
procps
google-chrome
go
BraveSoftware
Android Open Source Project
Mech*
goverlay
rustdesk
nvim-qt
MangoHud
zed
yash
qalculate
celluloid
