YouTube Music
dconf
fish/fish_variables
pulse
user-dirs.dirs
user-dirs.locale
chromium
mimeapps.list
Code
go/telemetry/local
pavucontrol.ini
GREYC
RawTherapee
darktable
gmic
ristretto
QtProject.conf
.mozilla/firefox/Crash Reports
go/telemetry
gtk-3.0
gtk-4.0
heroic
lazygit
nwg-look
texstudio
unity3d/TerrorDogStudio/Ultimate Zombie Defense
xsettingsd
electron-builder.json
Code - Insiders
Kvantum
VSCodium
configstore
enchant
evolution/sources
fish/conf.d
ibus/bus
org.gnome.Ptyxis
qt6ct
GIMP/3.0
inkscape
obs-studio
fontforge
btop
.gsd-keyboard.settings-ported
gnome-initial-setup-done
kdeglobals
.android
Google/AndroidStudio2025.1.4
JetBrains
discord
qBittorrent
winboat
MangoHud
create-next-app-nodejs
activitywatch
