include "input.kdl"
include "output.kdl"
include "bindings.kdl"
include "events.kdl"
include "layout.kdl"
include "workspace.kdl"
include "miscellaneous.kdl"
include "windowrules.kdl"
include "layerrules.kdl"
include "animations.kdl"
include "gestures.kdl"
