input {
	keyboard {
		xkb {
			layout "tr"
		}
		repeat-delay 300
		repeat-rate 20
	}

	touchpad {
		off
		tap
		//dwt
		drag true
		drag-lock
		natural-scroll
		scroll-method "two-finger"
	}
	
	focus-follows-mouse max-scroll-amount="20%"

	workspace-auto-back-and-forth
	mod-key "Super"
	mod-key-nested "Alt"
}
