
config {
    input {
        keyboard {
            xkb { layout "String" }
            repeat-delay 111
            repeat-rate 25
            track-layout "global"
        }
    }
    cursor {
        xcursor-theme "bai"
        xcursor-size 20
    }
    animations {
        slowdown 2.2
        window-open {
            curve "cubic-bezier" 0.05 0.7 0.1 1
        }
    }
}

